<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/schemas/jaxws.xsd">
    <jaxws:endpoint
            wsdlLocation="/src/main/resources/wsdl/northbound/provManagement/UNICA_API_SOAP_OProv_Management_services_v7_1.wsdl"
            address ="http://localhost:8888/ws/UNICA_SDP/OProv_Management/UserManager">
        <jaxws:properties>
            <entry key="schema-validation-enabled" value="true"/>
        </jaxws:properties>
    </jaxws:endpoint>

<!--    <bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
        <property name="interceptors">
            <list>
                <ref bean="payloadValidatingInterceptorWS1"/>
                <ref bean="payloadValidatingInterceptorWS2"/>
            </list>
        </property>
    </bean>
    <bean id="payloadValidatingInterceptorWS1" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
        <property name="schemas">
            <list>
                <value>classpath:wsdl/northbound/provManagement/UNICA_API_SOAP_OProv_Management_types_v7_1.xsd</value>
            </list>
        </property>
        <property name="createUser" value="true" />
        <property name="createUserResponse" value="false" />
    </bean>

    <bean id="payloadValidatingInterceptorWS2" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
        <property name="schemas">
            <list>
                <value>classpath:wsdl/northbound/provManagement/UNICA_API_SOAP_common_types_v1_1.xsd</value>
            </list>
        </property>
        <property name="createUser" value="true" />
        <property name="createUserResponse" value="false" />
    </bean>-->
</beans>